body {
    background-color: #111;
}

.inputs {
    display: flex;
    padding: 0.2rem;
}

.inputs input {
    background-color: #222;
    color: #bbb;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0.2rem;
    margin: 0.2rem;
}

div {
    color: #bbb;
    padding: 0.2rem;
}

button {
    background-color: #444;
    color: #bbb;
    border: none;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    border-radius: 5px;
}

